.container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background: #0b0b0b;
  border: 1px solid #1f1f1f;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.7rem;
  background: #121212;
  border: 1px solid #2a2a2a;
  color: #fff;
}

button {
  padding: 0.8rem;
  background: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.text {
  margin-top: 1rem;
  text-align: center;
  color: #aaa;
}

.text a {
  color: #fff;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

.errorInput {
  border: 1px solid red;
}
